.preivew {
  width: 100%;
  height: 100%;
  background: url("../images/bg-4.jpg") center no-repeat;
  background-size: cover;
}

.preivew .block {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 12%;
  left: 10%;
}

.preivew .block img {
  width: 100%;
}

.preivew .block .edit .pageDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.preivew .block .edit .pageDiv .templateDiv {
  width: 100%;
  height: 100%;
}

.preivew .block .edit {
  width: 100%;
  display: block;
  position: relative;
  z-index: 999;
}

.flipbook {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.turnLeftAnimation {
  -webkit-animation-name: turnLeft;
  animation-name: turnLeft
}

.turnRightAnimation {
  -webkit-animation-name: trunRight;
  animation-name: trunRight
}

@keyframes turnLeft {
  0% {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(-160deg);
    -ms-transform: rotateY(-160deg);
    -o-transform: rotateY(-160deg);
    transform: rotateY(-160deg);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes turnLeft {
  0% {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(-160deg);
    -ms-transform: rotateY(-160deg);
    -o-transform: rotateY(-160deg);
    transform: rotateY(-160deg);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    opacity: 0;
  }
}

@keyframes trunRight {
  0% {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes trunRight {
  0% {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.makeAlbumButton{
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1.2rem;
  background: #ffffff;
  color: #fc6767;
  flex: 1;
  -webkit-flex: 1;
}
